$navbar-default-bg: #6f6f6f;


@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
  float: left;
  font-size: 1.7em;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #F7F7F7;
  text-decoration: none;

}

.center {

  text-align: center;

}

.jumbotron {


}